.overlay__duration {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 8px;
  background-color: #4c4c4c20;
  transition: 0.3s;
  pointer-events: none;

  div {
    height: 100%;
    background-color: #4c4c4c;
  }
}
