.exhibit-description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 40%;
  height: 100%;
  padding: 17vh 8vw;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.6s;

  &--visible {
    @extend %desc-visible;
    background-color: #fff;
    transform: translateX(0);
    opacity: 1;
  }

  &--hand {
    width: 50%;
    padding: 17vh 20vw 17vh 8vw;
    background-color: transparent !important;
    transform: unset;
    transition: opacity 0.4s;
  }

  h2 {
    margin: 0;
    color: #4c4c4c;
    font-size: 6vw;
    font-family: $fontFamilyAmaticSC;
    line-height: 100%;
  }

  p {
    margin: 34px 0 0;
    color: #4c4c4c;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 150%;

    a {
      color: #4c4c4c;
    }
  }
}

.exhibit-description__close {
  position: absolute;
  top: calc(5vh + (62px - 42px) / 2);
  right: 5vh;
  width: 42px;
  height: 42px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  opacity: 0;
  transition: 0.3s;
  pointer-events: all;

  & svg {
    color: #4c4c4c;
  }

  &:hover {
    transform: rotate(90deg);
  }

  %desc-visible & {
    opacity: 1;
  }
}

.exhibit-description__close-field {
  display: none;

  %desc-visible & {
    position: absolute;
    top: 0;
    left: calc(-100vw * 0.6);
    display: block;
    width: calc(100vw * 0.6);
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: none;

    p {
      display: none;
    }
  }
}

.exhibit-description__help {
  margin: 48px 0 0;
  padding: 14px 40px;
  color: #fff;
  font-weight: 400;
  font-size: 1vw;
  text-transform: uppercase;
  background-color: #4c4c4c;
  border: 1px solid #4c4c4c;
  border-radius: 82px;
  transition: 0.2s;
  pointer-events: all;

  &:hover {
    color: #4c4c4c;
    background-color: transparent;
  }
}
