.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 4.5vh 3.6vh;

  p {
    max-width: 160px;
    margin: 0;
    color: #4c4c4c;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    text-transform: uppercase;

    %overlay-faded & {
      opacity: 0;
    }
  }

  &--title {
    bottom: 80px;
    justify-content: center;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      margin: -40px 0 0;
      padding: 0 36px;
      color: $white;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      background-color: #4c4c4c;
      border: none;
      border-radius: 82px;
      cursor: pointer;
      transition: 0.2s;
    }
  }

  &--figures {
    p {
      display: flex;
      max-width: 160px;
    }
  }

  &--room {
    p {
      opacity: 1;

      a {
        color: #4c4c4c;
        pointer-events: all;
      }
    }
  }
  
  &--room-end {
    @extend %footer-room-end;
    p {
      display: none;
    }
  }

  @include media-breakpoint-up(tablet) {
    position: unset;
    padding: 4vh 5vh;
    
    p {
      max-width: 204px;
      font-size: 20px;
    }
  
    &--figures {
      p {
        max-width: 300px;
      }
    }
  }
}

.footer__start {
  color: #4c4c4c;
  font-size: 1.5vw;
  font-family: $fontFamilyAmaticSC;
  background-color: transparent;
  border: none;
  transition: 0.3s;
  pointer-events: all;

  &:hover {
    transform: scale(1.4);
  }
}

.scroll-animated-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 70px;
  overflow: hidden;
  background-color: #c7c7c7;
  transform: translateX(-50%);

  &::after {
    position: absolute;
    inset: 0;
    height: 100%;
    background-color: #4c4c4c;
    animation: toggle-color 2s normal infinite;
    content: '';
  }
}

.title-screen__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  margin: 0;
  padding: 0 16px;
  color: $white;
  font-weight: 500;
  font-size: 6px;
  line-height: 19px;
  text-transform: uppercase;
  background-color: #4c4c4c;
  border: none;
  border-radius: 82px;
  cursor: pointer;
  transition: 0.3s;

  &--faded {
    opacity: 0;
  }

  &:hover {
    transform: scale(1.1);
  }
}

@keyframes toggle-color {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
