.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vh 5vh;

  p {
    max-width: 204px;
    margin: 0;
    color: #4c4c4c;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;

    %overlay-faded & {
      opacity: 0;
    }
  }

  &--title-screen {
    bottom: 80px;
    justify-content: flex-start;
  }

  &--figures-screen {
    p {
      display: flex;
    }
  }

  &--room-screen {
    p {
      opacity: 1;

      a {
        color: #4c4c4c;
      }
    }
  }

  @include media-breakpoint-up(tablet) {
    position: unset;
  }
}

.footer__start {
  color: #4c4c4c;
  font-size: 1.5vw;
  font-family: $fontFamilyAmaticSC;
  background-color: transparent;
  border: none;

  //cursor: pointer;
  transition: 0.3s;
  pointer-events: all;

  &:hover {
    transform: scale(1.4);
  }
}

.scroll-animated-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 70px;
  overflow: hidden;
  background-color: #c7c7c7;
  transform: translateX(-50%);

  &::after {
    position: absolute;
    inset: 0;
    height: 100%;
    background-color: #4c4c4c;
    animation: toggle-color 2s normal infinite;
    content: '';
  }
}

@keyframes toggle-color {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
