.navigation {
  width: -webkit-fill-available;
  max-width: 82px;
  max-height: 54px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;

  %header-room & {
    opacity: 1;
    pointer-events: all;
  }

  @include media-breakpoint-up(tablet) {
    max-height: unset;
    transform: scale(1.15);
  }
}

.navigation-path {
  transition: 0.1s;
  fill: #4e535c;
  stroke: #4e535c;

  &--active {
    fill: transparent;
    stroke: #4e535c;
  }

  @include media-breakpoint-up(desktop) {
    &:hover {
      fill: transparent;
      stroke: #4e535c;
    }
  }
}
