.sound__wrap {
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  pointer-events: all;

  %footer-room-end & {
    display: none;
  }

  @include media-breakpoint-up(tablet) {
    height: 28px;
  }
}

.sound {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  background-color: transparent;
  border: none;
  transform-origin: bottom;
  animation: down 1s forwards;

  & span {
    width: 2px;
    height: 100%;
    margin: 0 3px 0 0;
    background: $blue-500;
    transform: scaleY(0.2);
    transform-origin: bottom;
    transition: 0.4s;
    animation: equalize 3s infinite;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }

    &:nth-child(4) {
      animation-delay: 0.6s;
    }

    &:nth-child(5) {
      animation-delay: 0.8s;
    }

    &:nth-child(6) {
      animation-delay: 1s;
    }

    &:nth-child(7) {
      animation-delay: 1.2s;
    }

    &:nth-child(8) {
      animation-delay: 1.4s;
    }

    &:nth-child(9) {
      animation-delay: 1.6s;
    }

    &:nth-child(10) {
      animation-delay: 1.8s;
    }
  }

  &--on {
    animation: up 1s forwards;
  }
}

@keyframes equalize {
  0% {
    transform: scaleY(0.2);
  }

  50% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0.2);
  }
}

@keyframes down {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0.3);
  }
}

@keyframes up {
  0% {
    transform: scaleY(0.3);
  }

  100% {
    transform: scaleY(1);
  }
}
