$fontFamily: 'Inter', sans-serif;

$fontVariantsAmaticSC: (
  400: regular,
  700: bold,
);

$fontFormatsAmaticSC: (
  woff2: woff2,
);

$fontFamilyAmaticSC: 'AmaticSC', sans-serif;

@include font-face(
  'AmaticSC',
  AmaticSC,
  $fontVariantsAmaticSC,
  $fontFormatsAmaticSC,
  true,
  true
);

$fontVariantsInter: (
  400: light,
  500: regular,
  600: medium,
);

$fontFormatsInter: (
  woff2: woff2,
);

$fontFamilyInter: 'Inter', sans-serif;

@include font-face(
  'Inter',
  Inter,
  $fontVariantsInter,
  $fontFormatsInter,
  true,
  true
);
