* {
  box-sizing: border-box;
  font-family: $fontFamilyInter;

  // -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 10px;
  background-color: #fff;

  // background-color: #d8d7d7;
}

html {
  scroll-behavior: smooth;
}

#root {
  position: relative;

  // height: 100%;
}

.scene {
  height: 100%;
  margin: 0;
  padding: 0;

  // cursor: grab;
  // touch-action: auto !important;
}

.canvas {
  width: 100% !important;

  // touch-action: auto !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.favicon {
  @media (prefers-color-scheme: light) {
    path {
      fill: $blue-500;
    }
  }

  @media (prefers-color-scheme: dark) {
    path {
      fill: $white;
    }
  }
}
