* {
  box-sizing: border-box;
  font-family: $fontFamilyInter;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 10px;
  //background: #cccccc;
}

html {
  scroll-behavior: smooth;
}

#root {
  position: relative;
  height: 100%;
}

.scene {
  height: 100vh;
  margin: 0;
  padding: 0;
  //cursor: grab;
  //touch-action: auto !important;
  
  //&::before {
  //  content: '';
  //  position: absolute;
  //  inset: 0;
  //  box-shadow: inset 0 0 70px black;
  //  opacity: 0.6;
  //  z-index: 4;
  //}
  //
  //&::after {
  //  position: absolute;
  //  inset: 0;
  //  background-color: #50726e;
  //  opacity: 0.2;
  //  z-index: 2;
  //  content: '';
  //  pointer-events: none;
  //}
}

.canvas {
  width: 100% !important;
  //touch-action: auto !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

//.grain {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100vw;
//  height: 100vh;
//  background: transparent;
//  opacity: 0.2;
//  z-index: 3;
//  overflow: hidden;
//
//  &::after {
//    content: '';
//    position: absolute;
//    width: 200vw;
//    height: 200vh;
//    left: -50%;
//    top: -50%;
//    background-image: url("/images/grain.png");
//    animation: grain 1.5s steps(6) infinite;
//  }
//}

@keyframes grain {
  0%, 100% {
    transform: translate(0,0);
  }
  
  10% {
    transform: translate(-5%,-10%);
  }
  
  30% {
    transform: translate(3%,-15%);
  }
  
  50% {
    transform: translate(12%,9%);
  }
  
  70% {
    transform: translate(9%,4%);
  }
  
  90% {
    transform: translate(-1%,7%);
  }
}




