$white: #fff;

$blue: #0071bb;

$blue-10: #f4f6fd50;

$blue-20: #4a546820;

$blue-50: #4a546850;

$blue-99: #fafbff99;

$blue-100: #fafbff;

$blue-200: #f4f6fd;

$blue-300: #8c99b0;

$blue-500: #4a5468;
